*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:90%;
    max-width:700px;
}

h1{
    text-align:center;
    margin-bottom:20px;
    color:#333;
}

.card{
    background:white;
    padding:25px;
    margin-bottom:20px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

h2{
    margin-bottom:15px;
    color:#444;
}

#timer{
    font-size:60px;
    text-align:center;
    margin:20px 0;
    font-weight:bold;
    color:#ff5722;
}

.buttons{
    display:flex;
    justify-content:center;
    gap:10px;
}

button{
    padding:10px 18px;
    border:none;
    border-radius:8px;
    background:#ff5722;
    color:white;
    cursor:pointer;
}

button:hover{
    opacity:0.9;
}

.task-input{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:10px;
    border:1px solid #ccc;
    border-radius:8px;
}

ul{
    list-style:none;
    margin-top:15px;
}

li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;
    margin-bottom:8px;
    background:#f7f7f7;
    border-radius:8px;
}

.delete-btn{
    background:red;
    padding:6px 10px;
}
